@import modules/mixins
@import modules/variables
@import modules/typography


html
  font-size: $base-font-size
  line-height: $base-line-height
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body
  margin: 0
  color: $color-black
  font-family: $font-family, $base-font-family
  font-weight: $base-font-weight
  text-rendering: optimizeLegibility
  background-color: $color-grey

  &::before
    top: 0
    left: 0
    right: 0
    bottom: 0
    content: ''
    position: absolute
    background-size: 100%
    background: radial-gradient(ellipse at top right, #f5f2d3 25%, $color-grey 75%)
    z-index: -1

img
  border-style: none
  max-width: 100%

svg:not(:root)
  overflow: hidden

::selection
  background-color: rgba(0, 0, 0, .05)

main
  display: block // For IE11

.wrapper
  padding:
    left: 1rem
    right: 1rem

  +media(md)
    padding:
      left: $size-1
      right: $size-1

  +media(lg)
    padding:
      left: $size-2
      right: $size-2


@import components/intro
@import components/work
@import components/footer