extends layouts/_default

block content
  .container
    include components/_intro
    include components/_works
    include components/_footer

  .contact
    a(href="mailto:hi@bilguun.design")
      include ../images/contact.svg

  .curtain
    .logo__wrap
      include ../images/logo.svg
    .morph__wrap
      include ../images/morph.svg

  .scroll-bar

block scripts
  script(src="../js/app.js")