footer.footer
  h1.footer__text
    | If you’re interested in discussing
    br.hide
    | a project, making something
    br.hide
    | great together reach out
    br.hide
    | and say hi anytime.
  .footer__contact
    a.link.link--email.is--hover(href='mailto:hi@bilguun.design')
      | hi@bilguun.design
    .footer__links
      ul.social-links
        li
          a.button.button--behance(href='https://behance.net/3ilguun')
            include ../images/icon-behance.svg
        li
          a.button.button--dribbble(href='https://dribbble.com/3ilguun')
            include ../images/icon-dribbble.svg
        li
          a.button.button--github(href='https://github.com/3ilguun')
            include ../images/icon-github.svg
  .copyright
    | &copy;2021 Bilguun Odmaa
    br
    | Last updated: 2021.06
