section.intro
  h1.intro__text
    | Bilguun Odmaa 
    br.hide--xl
    | is a digital product 
    br.hide
    | designer passionate about creating 
    br.hide
    | innovative interfaces, products and 
    br.hide
    | brands.
  .intro__contact
    p
      | For questions or additional info, 
      br
      | please get in touch
    a.link.link--email.is--hover(href='mailto:hello@bilguun.design')
      | hello@bilguun.design
