footer.footer
  .contact
    a(href="mailto:hi@bilguun.design")
      include ../../images/contact.svg

  .footer__scroll-top
    a(href="#") &uarr; Top

  .footer__copyright &copy; 2019 bilguun.design