section.intro
  h1.intro__title Bilguun<br>Odmaa
  .intro__content
    p Digital Product Designer passionate <br>about creating innovative interfaces, <br>products and brands.
    p For questions or additional info, <br>please get in touch
    ul.intro__links
      li
        a(href="mailto:hi@bilguun.design") hi@bilguun.design
    p Elsewhere on the Internet
    ul.intro__links
      li
        a(href="https://behance.net/3ilguun") Behance
      li
        a(href="https://dribbble.com/3ilguun") Dribbble
      li
        a(href="https://github.com/3ilguun") Github