section.intro
  h1.intro__title
    | <i>오</i>드마<span><i>빌</i>군</span>
  .intro__content
    p.intro__paragraph
      | 저는 혁신적인 인터페이스, 제품과 브랜드 만들기에 <br>열정을 쏟는 디지털 제품 디자이너입니다.
    p.intro__paragraph
      | 질문이나 추가 정보가 필요하시면 <br>연락주시기 바랍니다<b>.</b>
    ul.intro__links
      li
        a.intro__link(href="mailto:hi@bilguun.design")
          | hi@bilguun.design
    p.intro__paragraph
      | 인터넷상
    ul.intro__links.links--social
      li
        a.intro__link(href="https://behance.net/3ilguun")
          | Behance
      li
        a.intro__link(href="https://dribbble.com/3ilguun")
          | Dribbble
      li
        a.intro__link(href="https://github.com/3ilguun")
          | Github
  .scroll-indicator