include ../mixins/_work-kr

section.works
  +work("마이뱅크", "브랜드 작업", "mibank", 5, "https://mibank.me")
  +work("빌군", "브랜드 작업", "bilguun", 6, "https://bilguun.design")
  +work("셀리나", "앱 디자인", "selina", 1, "http://goselina.com")
    +work-grid("selina", 7)
  +work("취뽀", "브랜드 작업", "chippo", 5, "http://chippo.co.kr")
  +work("퀀텀웨이브", "브랜드 작업", "qwave", 5, "http://qwave.co.kr")
    +work-grid("qwave-web", 5)
  +work("로고 작업", "로고 디자인", "logo-works", 7)