include ../mixins/_work
include ../mixins/_slides

section.works
  +work("mibank", "Design, Front-End Development", 13)
  +work("bilguun", "Design, Front-End Development", 12)
  +work("selina", "App design", 1)
    +slides("selina", 14)
  +work("chippo", "Brand Identity", 9)
  +work("qwave", "Brand Identity, Front-End Development", 13)
  +work("hue-dream", "Web Design, Front-End Development", 8)
  +work("logo-works", "Logo Design", 7)
  +work("old-projects", "Web Design, Front-End Development", 10)