include ../mixins/_work

section.works
  +work("Mibank", "Brand Identity", "mibank", 5, "https://mibank.me")
  +work("Bilguun", "Brand Identity", "bilguun", 6, "https://bilguun.design")
  +work("Selina", "App design", "selina", 1, "http://goselina.com")
    +work-grid("selina", 7)
  +work("Chippo", "Brand Identity", "chippo", 5, "http://chippo.co.kr")
  +work("Qwave", "Brand Identity", "qwave", 5, "http://qwave.co.kr")
    +work-grid("qwave-web", 5)
  +work("Logo Works", "Logo Design", "logo-works", 7)