include ../mixins/_work

section.works
  +work("Mibank", "Brand Identity", "mibank", 13, "https://google.com")
  +work("Bilguun", "Design, Front-End Development", "bilguun", 12)
  +work("Selina", "App design", "selina", 1)
    //- +slides("selina", 14)
  +work("Chippo", "Brand Identity", "chippo", 9)
  +work("Qwave", "Brand Identity, Web Design, Development", "qwave", 13, "https://behance.net/123ABC")
  +work("Hue Dream", "Web Design, Front-End Development", "hue-dream", 8)
  +work("Logo works", "Logo Design", "logo-works", 7)
  +work("old-projects", "Web Design, Front-End Development", "old-projects", 10)