//- Footer
.footer
  font-size: $paragraph-size
  padding-bottom: $size-2
  text-align: center
  margin-top: $size-4

.contact
  text-align: center
  padding-bottom: $size-2

.contact__icon
  width: 12rem
  height: 12rem

.footer__copyright
  opacity: .5
  color: $color-gray
  margin-top: $size-2


+media(md)
  .footer
    font-size: $paragraph-md-size
    line-height: $paragraph-md-line-height
    text-align: left
    margin-top: $size-6
    padding-bottom: $size-1

  .footer__copyright
    margin-top: 0

  @keyframes zoom
    from
      opacity: 0
      transform: scale3d(.5, .5, .5)

    50%
      opacity: 1

  @keyframes rotation
    from
      transform: rotate(0deg)
    
    to
      transform: rotate(1turn)

  .contact
    right: 1rem
    bottom: 1rem
    width: 12rem
    height: 12rem
    padding-bottom: 0
    position: fixed
    z-index: 100
    transform-origin: 50% 50%
    animation: rotation 24s linear infinite
    backface-visibility: hidden
    will-change: transform

    &:hover .contact__icon
      transform: scale(.9)

    &:active,
    &:focus
      .contact__icon
        transform: scale(.8)

    a
      display: block
      animation-name: zoom
      animation-duration: .75s
      animation-fill-mode: both

  .contact__icon
    transition: transform .25s ease-in-out
    will-change: transform