//- Intro
.intro
  padding-top: 2rem

.intro__title
  color: $color-black
  font-size: $header-size
  line-height: $header-line-height
  margin-bottom: $header-margin
  margin-left: -.25rem

.intro__content
  font-size: $paragraph-size
  line-height: $paragraph-line-height

  br
    display: none

.intro__links
  margin:
    top: 0
    bottom: 0
  padding-left: 0
  list-style-type: none

  li
    display: inline-block
    margin-right: .25rem

    &:not(:last-child)
      a::after
        content: ','
        color: $color-gray

    &:last-child
      margin-right: 0

      a::after
        display: none


+media(xs)
  .intro__content br
    display: block


+media(md)
  .intro
    padding-top: $size-1

  .intro__title
    font-size: $header-md-size
    line-height: $header-md-line-height
    margin-bottom: $size-1

  .intro__content
    font-size: $paragraph-md-size
    line-height: $paragraph-md-line-height


+media(lg)
  .intro
    padding:
      right: $size-2
      left: $size-2
      top: $size-3 - $size-1