mixin slides(title, imgCount)
  .work__slides
    - for (var x = 1; x < imgCount; x++)
      - var URL = '../images/' + title + '/' + title + '-' + x + '.jpg'
      - var URLsm = '../images/' + title + '/' + title + '-' + x + '-sm.jpg'
      .work__slide
        img( src=URL )