mixin work(title, subTitle, imgCount, href)
  .work
    .work__img
      img(src="../images/big.jpg", alt="")
      img(src="../images/big.jpg", alt="")
      img(src="../images/big.jpg", alt="")
    .work__header
      h3.work__title= title
      p.work__type= subTitle