footer.footer
  h1.footer__text
    | 인사를하거나 프로젝트에 
    br.hide
    | 대해 논의하고 싶으시면 
    br.hide
    | 언제든 연락 주세요.
  .footer__contact
    a.link.link--email.is--hover(href='mailto:hello@bilguun.design')
      | hello@bilguun.design
    .footer__links
      ul.social-links
        li
          a.button.button--behance(href='https://behance.net/3ilguun')
            include ../../images/icon-behance.svg
        li
          a.button.button--dribbble(href='https://dribbble.com/3ilguun')
            include ../../images/icon-dribbble.svg
        li
          a.button.button--github(href='https://github.com/3ilguun')
            include ../../images/icon-github.svg
  .copyright
    | &copy;2020 Bilguun Odmaa
