section.intro
  h1.intro__text
    | 오드마 빌군은 브랜드 전략을 향상시키는 
    br.hide
    | 비주얼 아이덴티티 생성, 웹 사이트 
    br.hide
    | 디자인 및 구축, 디지털 제품 
    br.hide
    | 디자이너입니다.
  .intro__contact
    p
      | CV와 지난 작업들 및 추가 정보 
      br
      | 메일로 요청 가능합니다.
    a.link.link--email.is--hover(href='mailto:hi@bilguun.design')
      | hi@bilguun.design
